
.main-text-summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: 20px auto 15px;
  position: relative;
  background-color:#807a9077;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);


  h2 {
    font-size: 2rem;
    margin-top: 0;
    color: #fefefe;
  }
}

@media (max-width:800px){
  .main-text-summary {
    width: 80%;
  }
}