@import '../../scss/Variables.scss';

.cart-items {
  overflow-y: scroll
}

::-webkit-scrollbar-track {
border-radius: 10px;
background-color: #F5F5F5;

}
::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px $secondary-color;
	background-color:  #393249;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #393249;
  padding: 1rem 0;
  margin: 1rem 0;
}

.cart-item h3 {
  margin: 0 0 0.5rem 0;
  color: #393249;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #9f3e2d;
}

.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}