@import '../../scss/Variables.scss';

.cart-items {
  overflow-y: scroll
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #56545b;
  padding: 1rem 0;
  margin: 1rem 0;
}

.summary {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  h3 {
      margin: 0 0 0.5rem 0;
  color: #393249;
  }
  
  .price {
  font-weight: bold;
  color: rgb(182, 40, 15);
  }
}

.actions {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
