.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: none;
  }

.meal-item-cont {
  display: flex;
  align-items: center;
  gap: 20px;
} 

  .description {
  font-style: italic;
}

  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #9f3e2d;
    font-size: 1.25rem;
  }
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.meal-img {
  width: 70px;
  height: 70px;
  align-self: flex-start;
}

@media (max-width: 500px){
  summary {
    margin: 20px auto 10px;

    h2 {
    font-size: 1.5rem;
    }
  }
}