.menu-items {
  margin-bottom: 20px;
  width: 675px;
  height: 30%;
  background-color: #030303ea;

}

.meal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90%;

  h3 {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    color: $primary-color;
  }
  
  .meal-item-info {
    padding: 15% 0% 10% 25%;
  }

  .description {
    font-style: italic;
    color: cornsilk;
    font-size: 1rem;
    margin: 0;
  }

  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: tomato;
    font-size: 1.25rem;
  }

  .meal-item-buttons {
    display: flex;
    justify-content: center;
  }

}

.meal-img {
    width: 150px;
    height: 150px;
    align-self: flex-start;
    border-radius: 4px;
    margin-left: -10%;
    position: absolute;
}

@media (max-width: 840px) {
  .menu-items {
    width: 100%;
  }

  .meal-img {
    margin-left: -15% ;
  }
}

@media (max-width: 620px) {

  .menu-items {
    width: 100%;
    height: 25%;
  }
  .meal-img {
    width: 120px;
    height: 120px;
    margin-left: -15%;
  }

  .meal h3 {
    font-size: 1rem;
  }

  .meal p {
    font-size: 0.8rem;
  }
}

