@import '../../scss/Variables.scss';

.inc-dec-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 170px;

    button {
        font: inherit;
        cursor: pointer;
        background-color: tomato;
        border: 1px solid tomato;
        color: white;
        padding: 0.1rem 1.5rem;
        border-radius: 20px;
        font-weight: bold;
            :hover, :active {
                background-color: #641e03;
                border-color: #641e03;
            }
        }

    input {
        width: 50px;
        text-align: center;
        border: 1px solid #c8c2d6;
        border-radius: 20px;
        font-weight: bold;
        color: $secondary-color;
    }

    //remove arrows from number input
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    margin: 0;
    input[type=number] {
    -moz-appearance: textfield;
}
}
}

