@import '../../scss/Variables.scss';

.inc-dec-buttons {
    display: flex;
    justify-content: space-evenly;
    max-width: 70%;

    button {
        
        font: inherit;
        cursor: pointer;
        background-color: #FF5233;
        border: 1px solid tomato;
        color: white;
        width: calc(100% - 1rem);
        border-radius: 20px;
        font-weight: bold;
            :hover, :active {
                background-color: #641e03;
                border-color: #641e03;
            }
        }

    input {
        width: calc(100% - 1rem);
        text-align: center;
        border: 1px solid #222222b8;
        border-radius: 20px;
        font-weight: bold;
        color: #222222;
    }

    //remove arrows from number input
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    margin: 0;
    input[type=number] {
    -moz-appearance: textfield;
}
}
}

