.login-container {
    display: flex;
    flex-direction: column;
    width: 370px;
    align-items: center;
    
    .input-main-container {
        justify-content: center;

        label {
            width: 270px;
        }
    }

    span {
        align-self: flex-start;
        cursor: pointer;
        font-size: small;
        color: rgb(182, 40, 15);
    }

    .forgot-password {
        margin: 10px 50px 15px;
    }

    .auth-error{
        color: tomato;
        font-weight: bold;
    }
}