.login-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;

    span {
        align-self: flex-start;
        cursor: pointer;
        font-size: small;
        color: brown;
    }
}