.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
        ul {
            justify-content: space-around;
            display: inline-flex;
            width: 200px;

        a {
            text-decoration: none;
            width: 100px;
            &:hover {
                color: tomato;
                font-weight: 700;
            }
        }
        }

        .logo {
            cursor: default;
        }
}
