@import '../../scss/Variables.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 4px 0 #c8c2d6b3 inset;
    border-radius: 4px;
    height: 80px;
    // background: #fefefe;
    background-color: $secondary-color;
    
        ul {
            justify-content: space-around;
            display: inline-flex;
            width: 250px;

        a {
            text-decoration: none;
            width: 200px;
            color: #c8c2d6;
            font-size: large;
            &:hover {
                color: tomato;
                font-weight: 700;

                .cart-icon {
                  filter: invert(51%) sepia(40%) saturate(3246%) hue-rotate(332deg) brightness(101%) contrast(99%);
                }
            }
        }
        }

        .logo {
            cursor: default;
            color:white;
        }

        .cart-link {
            display: inline-flex;
            align-items: flex-end;
        }

        .cart-icon {
            width: 18px;
            margin-left: 5px;
            filter: invert(100%) sepia(7%) saturate(514%) hue-rotate(225deg) brightness(115%) contrast(100%);
        }

        .bump {
            animation: bump 300ms ease-out;
            filter: invert(51%) sepia(40%) saturate(3246%) hue-rotate(332deg) brightness(101%) contrast(99%);
        }
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
