.profile-page-container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 97px);
    width: 100vw;
    overflow: scroll;
    position: fixed;
    bottom: 0;
    margin-top: 35px;

    h2{
        align-self: center;
    }

    .profile-card{
        width: 80%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
    }

    .logout-button {
        align-self: end;
    }

    .input-main-container {
        flex-direction: column;

        label {
        width: 100px;}
    }

    .profile-error{
        color: tomato;
        font-weight: bold;
        align-self: flex-start;
        margin-left: 60px;
    }
    
}