.invalid {
    border: 1px solid tomato;
}
.input-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 90px;
    margin: 4px;

        input {
            border-radius: 4px;
            color: rgb(39, 37, 37);
            background-color: white;
            border:1 px solid gray;
            border-width: 1px;
            height: 20px;
            margin: 10px 0 2px;
        }
        &input:focus-visible {
        outline: black auto 1px;
        }

        label {
            height: 20px;
        }

        textarea {
            margin-top: 10px;
            border-radius: 4px;
            height: 60px;
        }
}

.error-message {
    font-size: 0.8rem;
    color: tomato
}
