.home-section {
    background: url("../../assets/pexels-valeria.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 190vh;
    box-shadow: 0 0 28px 28px #18151f inset;
}

@media (max-width: 749px) {
    .home-section {
        height: 160vh;
        background: url("../../assets/pexels-valeria.jpg");
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}

@media (max-width: 500px){

    .home-section {
        height: 160vh;
        background: url("../../assets/pexels-valeria.jpg");
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .meal-buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .inc-dec-buttons {
        width: 150px;
        
        button {
        padding: 0.1rem 1rem;
        }
    }
}