@import '../../scss/Variables.scss';

.primary-button {
    background-color: white;
    color: $secondary-color;
    font-weight: 600;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    width: 10rem;
    height: 2rem;
        &:hover {
            background-color: $secondary-color;
            border-color: $secondary-color;
            color: white;
            cursor: pointer;
        }
        &:disabled {
            background-color: #ffe6dc;
            color: gray;
            border: $secondary-color;
            cursor: not-allowed;  
        }
}
