//root
@import './scss/Variables.scss';
@import './scss/typography.scss';

//atoms
@import './atoms/button/Buttons.scss';
@import './atoms/input/input.scss';
@import './atoms/card/card.scss';
@import './atoms/increase-decrease-buttons/custom-buttons.scss';

// molecules
@import './molecules/mealtem/mealItem.scss';
@import './molecules/cartItem/cartItem.scss';
@import './molecules/mainText/mainText.scss';

//organisms
@import './organisms/login/login.scss';
@import './organisms/signup/signup.scss';
@import './organisms/navbar/navbar.scss';
@import './organisms/profileInfo/profileInfo.scss';
@import './organisms/hero/hero.scss';
@import './organisms/mealsList/mealsList.module.scss';

//pages 
@import './pages/menu/menu.scss';
@import './pages/login/LoginPage.scss';
@import './pages/cart/cartpage.scss';
@import './pages/profile/profilePage.scss';

body {
   background-color: $primary-color;
}

::-webkit-scrollbar-track {
border-radius: 10px;
background-color: #22222200;

}
::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgb(177, 165, 165);
	background-color:  #000000;
}
