.signup-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.signup-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 600px;
    
    div {
       flex-basis: 45%;
       
       &:nth-child(5){
           flex-basis: 90%;
           flex-direction: row;
           
           input {
               width: 530px;
            }
       }
    } 
        button {
            align-self: flex-end;
            flex-basis: 210px;
            margin-top: 10px;
            flex-basis: 45%;
        }
}

@media (max-width: 642px) {
    .container {
        height: 100% !important;
    }

    .signup-container {
        width: 270px;
    }
    .signup-form-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;

        button {
            margin: 10px auto;
            flex-basis: 280px;
        }

        div {
            flex-basis: 100%;
            flex-direction: row;

           :nth-child(5) {
               flex-basis: 100%;
           }
        
    }
    .input-container .input-main-container{
            display: flex;
            justify-content: center;
    }
}

.signup-form-container div:nth-child(5) input {
    width: 250px;
}
}